.center {
	display: flex;
	justify-content: center;
}

#particles {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
